<!DOCTYPE html>
<html>
<head>
  <title>Rahul Malhotra - Design, Develop, Deploy</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <script src="https://use.fontawesome.com/ac9c9a9aa5.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="main_navigation" class="clearfix">
    <%= link_to 'Rahul Malhotra', root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <a href="contact.html">Contact</a>
    </nav>
  </header>

  <%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy;2016 Rahul Malhotra</p>
    <nav>
      <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fa fa-github-alt"></i></a>
    </nav>
  </footer>

</body>
</html>
